fastapi
uvicorn
python-dotenv
sqlalchemy
pydantic
pydantic-settings
python-jose
passlib
bcrypt
python-multipart
beautifulsoup4
requests
groq
langchain-community
langchain-text-splitters
langdetect
google-genai
pytest
starlette